//out: _style.css, sourcemap: false, compress: true

:root {
  font-size: 16px;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
    outline: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #040428;
  color: #FFF;
  line-height: 1.2;
  overflow-x: hidden;
  font-weight: 400;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

  @media (min-width: 1070px) {
    padding-top: 0;
  }
}

main {
  flex-grow: 1;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-top: 375px;  
  position: relative;
  overflow: hidden;

  @media (min-width: 1070px) {
    padding-top: 78px;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    width: 900px;
    top: 0;
    bottom: 0;
    right: -260px; 
    background-image: url('../img/botvinnik.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;

    @media (min-width: 1070px) {
      margin-left: 150px;  
      right: auto;
      background-position: top center;
      background-size: cover;  
      width: 100%;
    }    
    @media (min-width: 1270px) {
      margin-left: 30px;
    }
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 0;
    right: 0;
    height: 350px;
    background: linear-gradient(0deg, rgba(4,4,40,1) 0%, rgba(4,4,40,0) 100%);

    @media (min-width: 1070px) {
      display: none;
    }
  }

  .wrapper {
    position: relative;
    z-index: 3;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 1.1em;  

  @media (min-width: 470px) {
    font-size: 36px;
  }
  @media (min-width: 770px) {
    font-size: 40px;
  }
  @media (min-width: 1070px) {
    font-size: 45px;
    margin-bottom: 0.55em;
  }

  span {
    display: block;
    font-size: 60px;

    @media (min-width: 470px) {
      font-size: 66px;
    }
    @media (min-width: 770px) {
      font-size: 72px;
    }
    @media (min-width: 1070px) {
      font-size: 80px;
    }
  }
}

p {
  margin: 0 0 1.5em;
  line-height: 1.5;
  font-size: 1.0rem; 
}

strong, b {  font-weight: 700; }

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms;

  &:hover {
    text-decoration: none;
  }
}

.heroText { 
  @media (min-width: 1070px) {
    max-width: 620px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bttn {
  display: table;
  clear: both;
  position: relative;
  cursor: pointer;
  border: 0;
  user-select: none;
  color: #FFFFFF;
  white-space: nowrap;
  text-align: center;
  padding: 0.8em 1.2em;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  background-color: #040428;
  border-radius: 7px;
  transition: all 300ms;

  &:hover, &:active {
    color: #FFFFFF;
    background-color: #040428;
  }

  &--middle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 100%;

    @media (min-width: 470px) {
      width: auto;
    }
    @media (min-width: 640px) {
      margin-bottom: 3.4em;
    }
  }

  &--full {
    width: 100%;
  }

  &--right {
    margin-left: auto;
  }
}

.formBlock {

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__title {
    font-weight: bold;
    color: #000;
    margin-bottom: 0.95em;
    font-size: 18px;
  }

  &__item {
    margin-bottom: 10px;
    width: 100%;

    &.error {
      position: relative;
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type=submit]):not([type=range]), textarea, select {
      border: 0;
      font-family: inherit;
      box-shadow: inset 0 0 0 1px #C4C4C4;
      background-color: #FFFFFF;
      border-radius: 5px;
      color: #000;
      padding: 1.0em 1.1em;
      line-height: 1.2;
      width: 100%;
      resize: vertical;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
      font-size: 14px;
      font-weight: 400;
      transition: box-shadow 300ms, color 300ms;

      &::-webkit-input-placeholder       {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}
      &::-moz-placeholder                {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}
      &:-moz-placeholder                 {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}
      &:-ms-input-placeholder            {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}

      &:focus::-webkit-input-placeholder {opacity: 0;}
      &:focus::-moz-placeholder          {opacity: 0;}
      &:focus:-moz-placeholder           {opacity: 0;}
      &:focus:-ms-input-placeholder      {opacity: 0;}

      .error& {
        box-shadow: inset 0 0 0 1px #EF5436;
      }
      .success& {
        box-shadow: inset 0 0 0 1px #25BA00;
      }
    }

    [type=submit], .bttn {
      font-family: inherit;
      outline: 0;
      height: auto;
      border: none;
      font-weight: 400;
      padding-top: 1.0em;
      padding-bottom: 1.0em;
    }

    &--notion {    
      font-size: 13px;
      line-height: 1.7;
      color: #787878;
  
      br {
        @media (max-width: 769px) {
          display: none;
        }
      }
    }

    &--select {
      position: relative;
  
      select {
        cursor: pointer;
        padding-right: 1.7em;
        box-shadow: none;
      }
  
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1.0em;
        z-index: 1;
        margin-top: -5px;
        height: 9px;
        width: 9px;
        background-size: 9px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6' fill='none'%3e%3cpath d='M1 1.5L4.5 4.5L8 1.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
        pointer-events: none;
      }
    }

    &--agree {
      position: relative;
      padding-top: 5px;
      margin-bottom: 15px;
  
      label {
        display: block;
        position: relative;
        line-height: 1.2;
        padding-left: 26px;
        user-select: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
  
        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          font-size: 1rem;
          transition: opacity 300ms;
        }
  
        &:before {
          left: 0;
          top: -1px;
          height: 16px;
          width: 16px;
          box-shadow: inset 0 0 0 1px #B9BFBF;
          border-radius: 5px;
        }
  
        &:after {
          opacity: 0;
          left: 4px;
          top: 3px;
          height: 3px;
          width: 7px;
          border-left: 2px solid green;
          border-bottom: 2px solid green;
          transform: rotate(-45deg);
          transition: all 300ms ease;
        }
  
        a {
          text-decoration: none;
          color: inherit;
          border-bottom: 0;
  
          &:hover {
            text-decoration: none;
          }
        }
      }
  
      input[type=checkbox] {
          display: block;
          height: 1.0em;
          width: 1.0em;
          position: absolute;
          left: 0;
          opacity: 0;
          z-index: -1;
  
          &:checked + label {
              &::after {
                opacity: 1;
              }
          }
        }
    }
  }

  &__label {
    margin-bottom: 11px;
    display: block;
    font-size: 16px;

    i {
      font-style: normal;
      color: #A03939;
    }
  }

}

.quoteList {
  margin: 0 -15px;

  @media (min-width: 770px) {
    margin: 63px 0;
  }

  @media (min-width: 1070px) {
    max-width: 630px;
  }

  input[type=checkbox] {
    display: none;
  }
}

.quoteItem {
  display: flex;  
  gap: 14px;
  color: #0B0B0B;
  font-size: 14px;
  position: relative;
  padding: 20px 14px 14px 20px;

  @media (min-width: 770px) {
    margin-bottom: 26px;
    padding: 0;
  }

  &:nth-child(odd) {
    background-color: #AAB5B9;   

    @media (min-width: 770px) {
      margin-right: 136px;
      background-color: transparent;
    }
  }

  &:nth-child(even) {
    background-color: #7D949C;

    @media (min-width: 770px) {
      margin-left: 136px;
      background-color: transparent;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 40px;
    position: absolute;
    left: 20px;
    top: 18px;

    @media (min-width: 470px) {
      height: 80px;
      width: 80px;
      position: static;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px 14px;
    margin-bottom: 10px;
    padding-left: 74px;
    min-height: 58px;

    @media (min-width: 770px) {      
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      min-height: 1px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    margin-right: auto;
  }

  &__info {    
    @media (min-width: 770px) {
      border-radius: 20px;
      padding: 17px 26px 14px 26px;
    }
  }

  @media (min-width: 770px) {
    &:nth-child(odd) &__info {   
      background-color: #AAB5B9;
    }
  
    &:nth-child(even) &__info {   
      background-color: #7D949C;
    }
  }

  &__text {
    font-size: 14px;

    p {
      font-size: 14px;
      margin-bottom: 0.8em;
    }
  }

  &__hidd {
    display: none;
  }

  &__switch {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 300ms;
    
    &:hover {
      opacity: 1;
    }

    &::before {
      display: block;
      content: 'Подробнее';
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;      
    }
  }
}

#quote-karpov:checked {
  & ~ .quoteItem--karpov {
    margin: 0;

    p.quoteItem__hidd {
      display: block;
    }
    span.quoteItem__hidd {
      display: inline-block;
    }
    .quoteItem__switch::before {
      content: 'Скрыть';
    }
  }
  & ~ .quoteItem--kramnik {
    @media (min-width: 770px) {
      display: none;
    }    
  }  
} 

#quote-kramnik:checked {
  & ~ .quoteItem--kramnik {
    align-items: flex-end;
    margin: 0;

    p.quoteItem__hidd {
      display: block;
    }
    span.quoteItem__hidd {
      display: inline-block;
    }
    .quoteItem__switch::before {
      content: 'Скрыть';
    }
  }
  & ~ .quoteItem--karpov {
    @media (min-width: 770px) {
      display: none;
    }    
  }
}

.footer {
  background-color: #AAB5B9;
  color: #0B0B0B;
  padding: 30px 0;
}

h2 {
  margin: 0 0 0.75em;
  padding: 0;
}

.contactLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  
  a {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    &::before {
      display: block;
      height: 18px;
      width: 18px;
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &[href*='tel:']::before {
      content: '';
      background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg height='1792' viewBox='0 0 1792 1792' width='1792' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%230B0B0B' d='M1600 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-52.5-3.5t-57.5-12.5-47.5-14.5-55.5-20.5-49-18q-98-35-175-83-128-79-264.5-215.5t-215.5-264.5q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47.5-12.5-57.5-3.5-52.5q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z'/%3e%3c/svg%3e");
    }

    &[href*='mailto:']::before {
      content: '';
      background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg id='Icons' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%230B0B0B;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M20,3H4A3,3,0,0,0,1,6V18a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V6A3,3,0,0,0,20,3Zm-.328,12.62a1,1,0,1,1-1.344,1.48l-4.143-3.76a3.937,3.937,0,0,1-4.37,0L5.672,17.1a1,1,0,0,1-1.344-1.48l3.956-3.591L4.327,8.43A1,1,0,1,1,5.673,6.95l4.979,4.529a2.005,2.005,0,0,0,2.7,0L18.327,6.95a1,1,0,0,1,1.346,1.48l-3.956,3.6Z'/%3e%3c/svg%3e");
    }
  }
}

.modal {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  background-color: #FFF;
  box-shadow: 0px 4px 25px fade(#000, 15%);
  z-index: 101;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;

  @media (min-width: 470px) {
    left: 50%;
    top: 50%;
    // top 0;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }

  #share-modal& {
    max-width: 490px;
  }

  &__close {
    display: block;
    height: 18px;
    width: 18px;    
    top: 25px;
    right: 25px;
    position: absolute;
    cursor: pointer;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      right: 0;
      left: 0;
      bottom: 50%;
      margin-bottom: -1px;
      background-color: #E1E1E1;
      transition: background-color 300ms;
    }

    &:hover {
      &:before, &:after {
        background-color: red;
      }
    }

    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &__wrap {
    max-height: 350px;
    overflow: auto;
    margin-right: -15px;
    padding-right: 15px;
  }

  &__content {
    padding: 23px 25px;
  }

  &__title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 1.1em;
  }
}

.modal-overlay {
  display: none;
  opacity: .99;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: fade(#000, 50%);
}

.alert {
  padding: 1.0em;
  margin-bottom: 0.95em;
  border-radius: 7px;

  &-success {
    color: #25BA00;
    background-color: #dff0d8;
    box-shadow: inset 0 0 0 1px #25BA00;
  }
  &-danger {
    color: #a94442;
    background-color: #f2dede;
    box-shadow: inset 0 0 0 1px #ebccd1;
  }
}